<footer class="footer">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <span class="navbar-text">
         The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
         by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
      </span>
      <div>
        <ul class="navbar-nav">
          <%= link_to "About",   about_path, class:"nav-link" %>
          <%= link_to "Contact", contact_path, class:"nav-link" %>
          <a href="https://news.railstutorial.org/" class="nav-link">News</a>
        </ul>
      </div>  
    </div>
  </nav>
</footer>