<footer class="footer">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!--<div class="navbar-brand" id="logo"> </div>-->
      <!--<span class="navbar-text">
        The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
      </span>-->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "About",   about_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <a href="https://news.railstutorial.org/" class="nav-link">News</a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>
</footer>